Repository lucatosc/GPT-Engineer, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pbharrin, @TheoMcCabe, @UmerHA, @ATheorell

fix bug
  docs/intro/harmony_db_ai_steps.md
  gpt_engineer/core/steps.py
Owners: @pbharrin

bugfix
  gpt_engineer/data/code_vector_repository.py
Owners: @TheoMcCabe

add tests
  .gitignore
  gpt_engineer/core/ai.py
  tests/test_ai.py
  tests/test_db.py
Owners: none

cleanup
  .gitignore
Owners: none

revert tokenizer to function
  gpt_engineer/core/ai.py
Owners: none

pr feedback
  gpt_engineer/core/ai.py
  tests/test_ai.py
Owners: none

pre commit error from main
  README.md
Owners: none

add test and remove unused code
  gpt_engineer/core/chat_to_files.py
  tests/test_chat_to_files.py
Owners: none

pre commit
  gpt_engineer/core/chat_to_files.py
  tests/test_chat_to_files.py
Owners: none

undo unecessary changes
  gpt_engineer/core/chat_to_files.py
Owners: none

split out token usage into its own class
  docs/intro/ai_class.md
  gpt_engineer/cli/main.py
  gpt_engineer/core/ai.py
  gpt_engineer/core/steps.py
  gpt_engineer/core/token_usage.py
  tests/test_ai.py
  tests/test_token_usage.py
Owners: @pbharrin

neaten up
  gpt_engineer/core/token_usage.py
Owners: none

pre commit
  gpt_engineer/core/ai.py
  gpt_engineer/core/steps.py
  gpt_engineer/core/token_usage.py
  tests/test_ai.py
  tests/test_token_usage.py
Owners: @pbharrin

run doc creation
  docs/api_reference.rst
Owners: none

pre commit
  docs/api_reference.rst
Owners: none

pr cleanups
  gpt_engineer/core/ai.py
  tests/test_ai.py
Owners: none

add tests for html ccs javascript java and c#
  tests/data/example_snake_files.py
  tests/data/test_code_vector_repository.py
  tests/data/test_file_repository.py
  tests/test_code_vector_repository.py
Owners: none

fix test python
  tests/data/test_code_vector_repository.py
Owners: none

pre commit
  tests/data/example_snake_files.py
  tests/data/test_code_vector_repository.py
Owners: none

remove xml path list
  gpt_engineer/data/file_repository.py
Owners: @TheoMcCabe

restricting langchain version to <=0.0.312
  pyproject.toml
Owners: none

Added explanation in pyproject file for future reference
  pyproject.toml
Owners: none

add more tests
  gpt_engineer/__init__.py
  gpt_engineer/data/__init__.py
  gpt_engineer/data/code_vector_repository.py
  gpt_engineer/data/document_chunker.py
  gpt_engineer/data/file_repository.py
  gpt_engineer/data/supported_languages.py
  tests/data/example_snake_files.py
  tests/data/test_code_vector_repository.py
Owners: @TheoMcCabe

pre commit
  gpt_engineer/__init__.py
  gpt_engineer/data/code_vector_repository.py
  gpt_engineer/data/file_repository.py
  gpt_engineer/data/supported_languages.py
  tests/data/example_snake_files.py
  tests/data/test_code_vector_repository.py
Owners: @TheoMcCabe

dont run LLM tests
  tests/data/test_code_vector_repository.py
Owners: none

test names
  tests/data/test_code_vector_repository.py
Owners: none

.github/CODEOWNERS:

gpt_engineer/core/steps.py @pbharrin
gpt_engineer/data @TheoMcCabe
evals/ @UmerHA
.github/workflows/ @ATheorell
